header {
    padding: 1rem;
    background: var(--color_blue);
    margin-bottom: 1.2rem;
}

header img {
    height: 2.5rem;
}


.footer {
    background: var(--color_blue);
    color: var(--color_white);
    text-align: center;
    padding: 0.8rem 0;
    width: 100%;
    margin-top: 4rem;
}