@tailwind base;
@tailwind components;
@tailwind utilities;



.placeHolderColor::placeholder, placeHolderColor::file-selector-button{
color: rgb(79, 79, 79);
}

/* Fonts */

.font-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.font-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.font-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.font-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.font-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.font-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.font-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.font-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.font-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.font-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.font-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.font-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.font-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Horizontal Splitter (Between Questions & Editor) */
.gutter-horizontal {
  /* background-color: #444; */
  cursor: ew-resize;
  width: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.gutter-horizontal:hover {
  background-color: #666;
}

/* Add Arrow Icon for Horizontal Split */
.gutter-horizontal::before {
  content: "⇔"; /* Uarrowsnicode for left-right  */
  /* content: "<>"; */
  font-size: 14px;
  color: #ddd;
}

/* Vertical Splitter (Between Editor & Output) */
.gutter-vertical {
  /* background-color: #444; */
  cursor: ns-resize;
  height: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.gutter-vertical:hover {
  background-color: #666;
}

/* Add Arrow Icon for Vertical Split */
.gutter-vertical::before {
  content: "⇕"; /* Unicode for up-down arrows */
  font-size: 14px;
  color: #ddd;
}
